extends layout
block append content
    div#content.container
        div.col-lg-9#main
            ul.post-lists
                - for ( var i = 0, len = entry.length; i < len; i++)
                    li.post
                        h2.post-title
                            a(href="#")
                                = entry[i].id
                                = entry[i].uname
                        div.post-summary
                            = entry[i].description


            div.page-btn-group
                a.btn.btn-default.fl 上一页
                a.btn.btn-default.fr 下一页

        div.col-lg-3#sidebar                                       
            div.list-group
                a(href="#").list-group-item.active 热门文章
                a(href="#").list-group-item Link
                a(href="#").list-group-item Link
                a(href="#").list-group-item Link
                a(href="#").list-group-item Link
                a(href="#").list-group-item Link
                a(href="#").list-group-item Link
                a(href="#").list-group-item Link