doctype html
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
		meta(name='keywords', content='NodeBlog')
		meta(name='description', content='NodeBlog is a blog system, base on NodeJs, Express, jade, Bootstrap, AngularJs and mysql')
		link(rel='stylesheet', href='/css/common/bootstrap.min.css')
		link(rel='stylesheet', href='/css/common/style.css')
	body
		//- header
		include header

		//- content
		block content
		
		//- footer
		include footer

		//- js
		block js
			script(type='text/javascript', src='/js/lib/jquery-2.1.1.js')
			script(type='text/javascript', src='/js/lib/bootstrap.min.js')