body {
	height: 1000px;
}



#content {
	margin: 70px auto 0;
	max-width: 1000px;
}

.form-signin .form-control {
	height: 44px;
}

.form-signin input[name='username'] {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin input[type='password'] {
	margin-top: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-signin .btn {
	margin-top: 10px;
}

#footer {
	margin-top: 50px;
	height: 80px;
	line-height: 80px;
	border-top: 1px solid #ccc;
	text-align: center;
}


/*
	index
*/

.user-list li {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
}

.user-list li span {
	padding: 10px;
}



.table-entryList .actions {
	width: 180px;
	text-align: center;
}

.table-entryList tbody tr td:last-child {
	text-align: center;
}


/*.table-entryList {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 14px;
}

.table-entryList th,
.table-entryList td {
	padding: 0 10px;
}

.table-entryList thead tr {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #ddd;
}

.table-entryList tbody tr {
	height: 50px;
}

.table-entryList tbody td {
}

.table-entryList tr:nth-child(even) {
	background-color: #eee;
}*/


/*
	search Box
*/

.navbar-search {
	float: left;
	margin: 8px 0 0 20px;
	width: 300px;
}